* {
    margin: 0;
    padding: 0;
    color: #000000;
}
.wrap {
    background: #666666;
}
.header {
    height: 165px;
    font-family: Arial;
    font-size: 1.5em;
    padding-top: 0.7em;
    padding-left: 1.7em;
    padding-bottom: 30px;
    padding-right: 30px;
    background: url("images/background.jpg") 0 0 repeat-x;
}
.header h1 {
    color: #000000;
}
.container {
    padding: 10px 0 10px 0;
}
.settings,
.graphics {
    background: rgba(160, 160, 160, 0.63);
    border-radius: 10px;
    padding: 1em;
    margin-left: 5px;
}

.settings button {
    font-size: 1.1em;
    margin: 0.4em;
    border-radius: 10px;
    padding: 0.4em;
    color: #4d5b67;
}
.glyphicon-ok-sign,
.glyphicon-plus-sign,
.glyphicon-ban-circle{
    color: #d8d1b9;
}
.graphics span {
    margin-left: 35%;
    margin-right: 15%;
    border-radius: 5px;
    border: solid 1px #92adc6;
    background-color: #d8d5b0;
    padding: 0.2em;
}
.view-box {
    height: 300px;
    background: rgba(146, 209, 216, 0.54);
    border-left: solid 2px #000000;
    border-bottom: solid 2px #000000;
    position: relative;
}
.arrow-top {
    position: absolute;
    margin-top: -5px;
    margin-left: -7px;
    display: none;
}
.arrow-right {
    position: absolute;
    top: calc(100% - 7px);
    right: -5px;
    display: none;
}
ul {
    list-style: none;
}
line {
     fill: none;
     stroke: steelblue;
     stroke-width: 1.5px;
 }
.footer {
    height: 45px;
    background: url("images/back3.jpg") 0 0 repeat-x;
    padding: 10px;
    font-weight: 600;
}